header {
	height: 505px;
}

header h1 {
	color: #fff;
	font-size: 2.5em;
	font-weight: 400;
	width: 783px;
	margin: 85px auto 5px;
}

#searchbox {
	width: 783px;
	margin: 0 auto;
	background-color: rgba(237, 237, 237, 0.9);
	border-radius: 3px;
	border: 1px solid #ededed;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	padding: 20px;
}

#searchbox input {
	padding: 11px;
	font-size: 1.2em;
	border: 1px solid #acacac;
	width: 100%;
	display: block;
}

#searchbox input:focus {
	padding: 10px;
	border: 2px solid #4ca166;
}

#functions-container {
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

#industries-container {
	margin-bottom: 40px;
}

#social-section {
	background: #fff;
	padding: 40px 0;
}

#tags-container {
	text-align: justify;
	padding-bottom: 40px;
	margin-bottom: 0px;
}

#tag-section {
	background: #fff;
	padding: 40px 0;
}

#trainingful-guarantee {
	border: 2px dotted rgba(0,0,0,0.5);
	border-radius: 10px;
	padding: 6px 20px 6px 20px;
	margin: 15px 50px 0px 50px;
	font-family: "Pacifico";
	font-size: 1em;
	color: rgba(0,0,0,0.85);
}

.category-list {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.85em;
	line-height: 1.5em;
	font-weight: 300;
}

.category-list li a {
	color: #6e6e6e;
}

.description {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
	font-weight: 600;
	color: #5b5b5b;
	font-size: 0.8em;
}

.grey-logo {
	max-height:40px;
	opacity:0.4;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	margin-right: 10px;
	margin-bottom: 5px;
}
.tag {
	margin-right:18px;
	white-space: nowrap;
}