#menu {
    list-style:none;
    width:365px;
    margin:0px auto 0px auto;
    height:51px;
    padding:0px 20px 0px 0px;
    background: #fff;
     
    /* Borders */
     
    border: 1px solid #acacac;
 
}
 
#menu li {
    float:left;
    text-align:left;
    position:relative;
    padding: 4px 10px 4px 10px;
    margin-right:30px;
    margin-top:7px;
    border:none;
    width:360px;
}
 
#menu li:hover {
    border: none;
    padding: 4px 10px 4px 10px;

    /* Background color and gradients */
     
    background: #fff;
}
 
#menu li a {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size:1.3em; 
    display:block;
    outline:0;
    text-decoration:none;
    color: #555555;
}
 
#menu li:hover a {
    padding-left: 0px;
    margin-top:0px;
}
#menu li .drop {
    padding-right:31px;
    background:url("/images/drop.png") no-repeat right 10px;
}
#menu li:hover .drop {
    background:url("/images/drop.png") no-repeat right 10px;
}
 
/* Drop Down */
 
.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
    margin:5px auto;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:20px 5px 10px 5px;
    border:1px solid #acacac;
    border-top:none;
     
    /* Gradient background */
    background:#fff;
}
 
.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 270px;}
.dropdown_3columns {width: 400px;}
.dropdown_4columns {width: 530px;}
.dropdown_5columns {width: 640px;}
 
#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left:-1px;
    top:auto;
}
 
/* Columns */
 
.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 0px;
}
.col_1 {width:120px;}
.col_2 {width:250px;}
.col_3 {width:380px;}
.col_4 {width:510px;}
.col_5 {width:640px;}
 
/* Right alignment */
 
#menu .menu_right {
    float:right;
    margin-right:0px;
}
#menu li .align_right {
}
#menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}
 
/* Drop Down Content Stylings */
 
#menu p, #menu h2, #menu h3, #menu ul li {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    line-height:21px;
    font-size:0.8em;
    text-align:left;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    font-size:14px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
}
#menu p {
    line-height:1em;
    margin:0 0 10px 0;
}
 
#menu li:hover div a {
    font-size:12px;
    color:#015b86;
}
#menu li:hover div a:hover {
    color:#029feb;
}
.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}
.imgshadow {
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}
#menu li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;
 
    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}
#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#menu li ul li {
    font-size:12px;
    line-height:24px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:130px;
}
#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}
#menu li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;
 
}
#menu li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}