	#main-section {
		background: #f8f8f8;
		position: relative;
		padding-bottom: 40px;
	}
	
	#main-container {
		position: relative;
		top: -260px;
		margin-bottom: -160px;
	}
	
	#other-options {
		color:#aaa;
		font-weight: 400;
		font-size: 0.8em;
	}

	#signup-content {
		overflow: hidden;
		background: #fff;
		border-top: 7px solid #4ca166;
		border-left: 1px solid #d7d7d7;
		border-right: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
		padding: 30px;
	}

	#signup-content h1 {
		margin: 0 0 0;
		font-size: 2.2em;
		color: #666;
	}

	#signup-content h2 {
		font-weight:300;
	}
	
	#signup-content h3 {
		font-weight: 300;
		font-size: 1.4em;
	}

	#signup-content h4 {
		color:#666;
		font-weight: 400;
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
	}

	#signup-content h5 {
		color:#666;
		margin-left: 0.2em;
		font-weight: 400;
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
	}

	#signup-content .recommended {
		font-size: 0.7em;
		font-weight: 600;
		color: #4ca166;
	}
	
	#signup-content .benefits {
		list-style: none;
		font-weight: 400;
		font-size: 0.85em;
		color: #666;
		padding-right: 10px;
	}

	#signup-content .benefits li:before {
		content:"- ";
	}
	
	#signup-content .benefits li {
		margin-top: 2px;
	}

	#signup-content .button-other {
		height: 40px;
		width: 250px;
		text-align: left;
		border-radius: 3px;
		border: 0;
		color: #fff;
		font-size: 1.2em;
		box-shadow: 1px 1px 5px #888888;
	}

	#signup-content .other-facebook {
		background: #3b579d;
	}
	#signup-content .other-facebook:hover {
		background: #4c68af;
	}

	#signup-content .other-google {
		background: #dd4b39;
	}
	#signup-content .other-google:hover {
		background: #ef5f4d;
	}

	#signup-content .other-twitter {
		background: #00b0ed;
	}
	#signup-content .other-twitter:hover {
		background: #14bffb;
	}

	#signup-content .other-button-icon {
		padding-top: 20px;
		height: 40px;
		width: 30px;
		border-right: 1px solid rgba(0, 0, 0, .05);
		float:left;
		margin-left: 5px;
	}

	#signup-content .sign-up-other {
		font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
		font-size: 0.8em;
		font-weight: 300;
		margin: 10px 0px 0px 50px;
	}

	#signup-content .button-linkedin {
		margin: 20px 0px 50px 80px;
		height: 60px;
		width: 350px;
		text-align: left;
		background: #007bb6;
		border-radius: 3px;
		border: 0;
		color: #fff;
		font-size: 2em;
		box-shadow: 1px 1px 5px #888888;
	}

	#signup-content .button-linkedin:hover {
		background: #1086be;
	}
	
	#signup-content .linkedin-button-icon {
		padding-top: 30px;
		height: 60px;
		width: 50px;
		border-right: 1px solid rgba(0, 0, 0, .05);
		float:left;
		margin-left: 5px;
	}
	
	#signup-content .sign-up-linkedin {
		font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
		font-size: 0.7em;
		font-weight: 300;
		margin: 15px 0px 0px 90px;
	}
	
	#static-document {
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
	}
	
	#static-document h1 {
		margin: 0 0 0.05em;
		color: #fff;
		font-weight: 300;
		font-size: 2.2em;
		font-family: 'Pacifico';
	}
	
	#static-document p {
		margin: 0;
		font-weight: 300;
	}
	
	#static-document a {
		color: #fff;
		text-decoration: underline;
	}
	
	#static-document a:hover {
		text-decoration: none;
	}