/* @import 'main'; */

 	#online-checkbox {
 		width: 0.75em;
 		height: 0.75em;
 		vertical-align: center;
 		display: inline;
 	}

 	#checkbox-text {
 		font-size: 0.83em;
 		vertical-align: center;
 		margin-left: 3px;
 		color: #000;
 	}