	@import "libs/skel";

	@include skel-breakpoints((
		normal: '(max-width: 1280px)',
		narrow: '(max-width: 1080px)',
		narrower: '(max-width: 820px)',
		mobile: '(max-width: 736px)',
		mobilep: '(max-width: 480px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: (50px, 50px) ),
		conditionals: true,
		containers: 1200px,
		breakpoints: (
			normal: (
				containers: 960px,
				grid: ( gutters: (40px, 40px) )
			),
			narrow: (
				containers: 100%
			),
			narrower: (
				containers: (100%, true),
				grid: ( gutters: (30px, 30px) )
			),
			mobile: (
			),
			mobilep: (
				grid: ( gutters: (20px, 20px) )
			)
		)
	));

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	$query-bar-width: 980px;

	body {
		font-family: "Open Sans",Helvetica,Arial,Sans Serif;
	}

	#main-section {
		background: #f8f8f8;
		position: relative;
		top: 96px;
		padding-bottom: 0px;
		margin: 60px auto;
		width: $query-bar-width;
	}

	#query-summary-bar {
		height: 120px;
		background: rgba(0, 0, 0, 0.5);
		padding: 25px 25px 0 25px;
		color: #fff;
		position: absolute;
		top: -180px;
		text-align: left;
		z-index: 4;
		width: $query-bar-width;
	}

	#query-summary-bar h1 {
		margin: 0 0 0.05em;
		color: #fff;
		font-weight: 400;
		font-size: 2.1em;
	}

	#query-summary-bar p {
		margin: 0;
		font-weight: 300;
		font-size: 1.1em;
		padding-top: 5px;
	}

	#query-summary-bar small {
		font-size: 0.8em;
	}

	#query-summary-bar a {
		color: #fff;
		text-decoration: underline;
		line-height: 0.8em;
	}

	#query-summary-bar strong{
		font-weight: 600;
	}

	#query-summary-bar a:hover {
		text-decoration: none;
	}

	#search-control-bar {
		height: 60px;
		background: #4ca166;
		position: absolute;
		top: -60px;
		width: $query-bar-width;
		font-size: 0.85em;
		text-align: left;
	}

	#results-counter {
		display: block;
		margin: 0;	
		font-weight: 400;
		background: #489961;
		height: 60px;
		line-height: 60px;
		color: #fff;
		padding-left: 20px;
		font-size: 0.85em;
	}

	#type-switcher {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#type-switcher li {
		float: left;
		margin-left: 35px;
		position: relative;
	}

	#type-switcher li:first-child {
		margin-left: 0;
	}

	#type-switcher li a {
		line-height: 60px;
		color: #fff;
		font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
		font-size: 1.1em;
	}

	#type-switcher .tick {
		background: url('images/sprites.png') no-repeat 0 0;
		margin: 0 auto;
		width: 11px;
		height: 6px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: none;
	}

	#type-switcher li.active .tick {
		display: block;
	}

	#results-container {
		background: #fff;
		margin: 0 auto;
		width: $query-bar-width;
	}

	#filters-accordion {
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 5px 0 5px;
		font-size: 0.9em;
		/*border-right: 1px solid #d7d7d7;*/
	}

	#filters-accordion li {
		padding: 5px 5px;
		margin: 0px 10px 8px;
		color: #585858;
		border-top: 1px solid #d7d7d7;
	}

	#filters-accordion li:first-child {
		border-top: 0;
	}

	#filters-accordion > li > a {
		color: #585858;

	}

	#filters-accordion > li > a:hover {
		text-decoration: none;
	}

	#filters-accordion > li > a > .icon {
		margin-right: 3px;
	}

	#online-span {
		font-size: 0.9em;
		margin-left: 3px;
		margin-top: -6px;
		color: #012002;
	}

	#checkbox {
		width: 15px;
		height: 15px;
		vertical-align: bottom;
		margin-left: -1px;
		margin-bottom:2px;
		margin-top: -2px;
		display:inline;
	}

	#results-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#results-list > li {
		overflow: hidden;
		padding: 30px 0 0;
		border-top: 1px solid #d7d7d7;
		margin: 30px 30px 30px 0;
	}

	#results-list > li:first-child {
		padding: 0;
		border-top: none;
	}

	#results-list .result-rating {
		margin-top: 5px;
		float: right;
	}

	#results-list h2 {
		margin: 0 0 0.1em;
		font-size: 1.32em;
		line-height: 1.25em;
		font-weight: 400;
	}

	#results-list p {
		margin: 0.3em 0 0.8em;
		font-size: 0.78em;
		font-weight: 300;
		color: #ABABAB;
		line-height: 1.5em;
	}

	#results-list p strong {
		color: #656565;
		font-weight: 600;
	}

	#results-list .company-logo {
		float: left;
		max-height: 70px;
		max-width: 70px;
	}
	.discount {
		color: #ff7777;
	}
	.form-date {
		width:82px;
		padding-left: 4px;
		padding-right: 4px
	}
	.form-name {
		width:185px;
		padding-left: 4px;
		padding-right: 4px;
		border: solid 1px red;
	}
	.form-price {
		width:73px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.inputbox {
		margin-top: 10px;
	}
	.pricebox {
		margin-left: 15px;
		font-size: 0.9em;
		margin-bottom:10px;
		color: #555;
	}
	.pricebox .form-price {
		width: 72px;
		padding-left: 4px;
		padding-right: 4px;
		line-height: 1.2em;
	}

	.sessions-list {
		list-style: none;
		margin: 0 70px 0 80px;
		padding: 0;
	}

	.sessions-list li {
		margin: 0 0 1px 0;
		padding: 0 0 0 15px;
		background: #f2f2f2;
	}

	.sessions-list li > a {
		display: block;
		height: 33px;
		overflow: hidden;
	}

	.sessions-list li > a:hover {
		text-decoration: none;
	}

	.sessions-list h4 {
		color: #515151;
		font-weight: 400;
		margin: 0;
		line-height: 0.7em;
		font-size: 0.7em;
	}

	.sessions-list small {
		font-weight: 300;
		font-size: 70%;
	}

	.sessions-list .icon.calendar {
		float: left;
		color: #afafaf;
		margin-top: 15px;
	}

	.sessions-list .session-dates {
		margin: 3px 0 0 23px;
	}

	.sessions-list .session-location {
		color: #969696;
		margin: 0 0 0 23px;
		display: block;
		line-height: 1.8em;
	}

	.sessions-list .session-price-container {
		margin: 3px 15px 0 0;
		float: right;
		text-align: right;
		color: #969696;
	}

	.sessions-list .session-price-container h4 {
		color: #515151;
		line-height: 0.7em;
		font-size: 0.7em;
	}

	.sessions-list .session-price-container small {
		line-height: 1.8em;
		margin-top: 20px;
		vertical-align: top;
	}

	.sessions-list .chevron-container {
		float: right;
		text-align: center;
		height: 63px;
		width: 46px;
		background: #f6c66b;
	}

	.sessions-list .icon.chevron-right {
		color: #fff;
		font-size: 2em;
		line-height: 34px;
	}

	.smaller-button {
		margin-top: 10px;
		margin-left: 45px;
		margin-bottom: 10px;
		height: 35px;
		width: 120px;
		padding: 5px 10px 5px 10px;
		border: 0px none;
		border-radius: 3px;
		color: #FFF;
		background: #4CA166 none repeat scroll 0% 0%;
		font-size: 0.88em;
	}

	.tags-list {
		list-style: none;
		margin: 5px 70px 0 80px;
		padding: 0;
		font-size: 0.6em;
	}

	.tags-list li {
		margin: 0 0 1px 0;
		padding: 0 0 0 0px;
		background: #fff;
	}

	.tags-list li > a {
		display: inline;
		height: 33px;
		overflow: hidden;
		color: #5A7DB2
	}

	.tags-list li > a:hover {
		text-decoration: underline;
	}

	#results-list .more-sessions {
		margin: 3px 0 0 80px;
		color: #969696;
		display: block;
	}

	#results-list .more-sessions a {
		color: #969696;
	}

	#results-list .more-sessions .icon {
		font-size: 1.6em;
	}

	#searchbox-keywords {
		width: 177px;
		padding-left: 6px;
		padding-right: 6px;
		line-height: 1.1em;
	}

	#searchbox-start {
		width: 78px;
		padding-left: 4px;
		padding-right: 4px;
		line-height: 1.1em;
		font-size: 0.9em;
	} 

	#searchbox-end {
		width: 78px;
		padding-left: 4px;
		padding-right: 4px;
		line-height: 1.1em;
		font-size: 0.9em;
	} 

	#searchbox-location {
		width: 180px;
		padding-left: 1px;
		padding-right: 1px;
		margin-bottom: 10px;
		font-size: 0.8em;
	}

	#trainingful-guarantee {
		border: 2px dotted rgba(0,0,0,0.5);
		border-radius: 10px;
		padding: 6px 20px 6px 20px;
		margin: 15px 165px 15px 165px;
		width: 350px;
	}

	.description {
		font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
		font-weight: 600;
		color: #5b5b5b;
		font-size: 0.8em;
		text-align: center;
	}

	.guarantee {
		text-align: center;
		font-family: "Pacifico";
		font-size: 1.3em;
		color: rgba(0,0,0,0.85);
		margin-bottom: 10px;
	}

	.no-results {
		font-family: "Pacifico", 'Lato', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
		font-size: 1.0em;
	}

	#guarantee-form {
		margin-top: 15px;
		font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
		color: rgba(0,0,0,0.85);
	}

	.guarantee-form-title {
		margin-top: 10px;
		font-size:0.9em;
	}

	.form-guarantee-input {
		width:285px;
		padding-left: 4px;
		padding-right: 4px;
	}

	@include breakpoint(mobile) {
		#main-section {
			margin-top: 60px;
			margin-left: 0px;
			width: 100%;
		}

		#query-summary-bar {
			height: 100px;
			margin: 0;
			width: 100%;
			top: -164px;
			font-size: 0.95em;
		}

		#search-control-bar {
			display: none;
		}

		#results-container {
			width: 100%;
		}

		#left-box {
			display: none;
		}

		#results-list {
			padding-left: 1em;
		}
		.sessions-list .session-dates {
			margin: 3px 0px 3px 0;
		}
		

	@include breakpoint(mobilep) {
		.company-logo {
			display: none;
			width:0;
		}
		#query-summary-bar {
			font-size: 0.8em;
		}
		#results-list #short-desc {
		}
		.sessions-list {
			margin: 0;
		}
		.sessions-list .session-dates {
			margin: 3px 0px 3px 0;
		}
		
		.sessions-list .chevron-container {
			display: none;
			width: 0;
		}
		.tags-list {
			margin: 10px 0;
		}
	}

	}