	@import "libs/skel";

	@include skel-breakpoints((
		normal: '(max-width: 1280px)',
		narrow: '(max-width: 1080px)',
		narrower: '(max-width: 820px)',
		mobile: '(max-width: 736px)',
		mobilep: '(max-width: 480px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: (50px, 50px) ),
		conditionals: true,
		containers: 1200px,
		breakpoints: (
			normal: (
				containers: 960px,
				grid: ( gutters: (40px, 40px) )
			),
			narrow: (
				containers: 100%
			),
			narrower: (
				containers: (100%, true),
				grid: ( gutters: (30px, 30px) )
			),
			mobile: (
			),
			mobilep: (
				grid: ( gutters: (20px, 20px) )
			)
		)
	));

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	$query-bar-width: 980px;

	body {
		font-family: "Open Sans",Helvetica,Arial,Sans Serif;
		font-size: 14pt;
	}

	#main-section {
		position: relative;
		top: 127px;
		padding-bottom: 0px;
		padding-left: 0px;
		margin: 15px auto;
		width: $query-bar-width;
	}

	#static-content {
		overflow: hidden;
		background: #fff;
		border-top: 7px solid #4ca166;
		border-left: 1px solid #d7d7d7;
		border-right: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
		padding: 30px;
		margin-bottom: 60px;
		margin: 0px auto;
		width: $query-bar-width;
		font-size: 0.85em;
	}

	#static-content h1 {
		margin: 0 0 0;
		font-size: 2.2em;
		color: #444;
		font-weight:400;
	}

	#static-content h3 {
		color: #000;
		font-weight:400;
		font-family: 'Pacifico';
	}

	#static-content h4 {
		color:#666;
		font-weight:300;
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
		line-height: 1.3em;
	}

	#static-content h5 {
		color:#666;
		margin-left:0.2em;
		font-weight:300;
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
	}

	#static-content h6 {
		color:#666;
		font-weight:300;
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
		line-height: 1.75em;
		margin-left: 100px; 
		margin-right: 100px;
	}

	#static-content strong {
		font-weight: 600;
	}

	#static-document {
		background: rgba(0, 0, 0, 0.5);
		padding: 25px;
		color: #fff;
		margin-top: -100px;
	}

	#static-document h1 {
		margin: 0 0 0.05em;
		color: #fff;
		font-weight: 300;
		font-size: 1.85em;
		font-family: 'Pacifico';
	}

	#static-document p {
		margin: 0;
		font-weight: 300;
	}

	#static-document a {
		color: #fff;
		text-decoration: underline;
	}

	#static-document a:hover {
		text-decoration: none;
	}

	@include breakpoint(mobile) {

		#main-section {
			width: 100%;
			top: 71px;
			margin-top: 40px;
			text-align: left;
		}

		#static-content {
			width: 100%;
		}

		#static-content h6 {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	@include breakpoint(mobilep) {
		#static-content {
			padding-left: 10px;
			padding-right: 10px;
			border-left: none;
			border-right: none;
		}
	}
