	@import "libs/skel";

	@include skel-breakpoints((
		normal: '(max-width: 1280px)',
		narrow: '(max-width: 1080px)',
		narrower: '(max-width: 820px)',
		mobile: '(max-width: 736px)',
		mobilep: '(max-width: 480px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: (50px, 50px) ),
		conditionals: true,
		containers: 1200px,
		breakpoints: (
			normal: (
				containers: 960px,
				grid: ( gutters: (40px, 40px) )
			),
			narrow: (
				containers: 100%
			),
			narrower: (
				containers: (100%, true),
				grid: ( gutters: (30px, 30px) )
			),
			mobile: (
			),
			mobilep: (
				grid: ( gutters: (20px, 20px) )
			)
		)
	));

	@-ms-viewport {
		width: device-width;
	}

	$query-bar-width: 980px;

	body {
		font-family: "Open Sans",Helvetica,Arial,Sans Serif;
		font-size: 14pt;
	}

	#contact-content {
		overflow: hidden;
		background: #fff;
		border-top: 7px solid #4ca166;
		border-left: 1px solid #d7d7d7;
		border-right: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
		padding: 30px;
		margin: 0px auto;
		width: $query-bar-width;
	}

	#contact-content h1 {
		margin: 0 0 0;
		font-size: 2.2em;
		color: #444;
		font-weight:400;
	}

	#contact-content h3 {
		color: #000;
		font-weight:400;
		font-family: 'Pacifico';
	}

	#contact-content h4 {
		color:#666;
		font-weight:300;
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
		font-size: 0.88em;
		line-height: 1.5em;
	}

	#contact-content h5 {
		color:#666;
		margin-left:0.2em;
		font-weight:300;
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans Serif;
		font-size: 0.8em;
	}

	#contact-document {
		background: rgba(0, 0, 0, 0.5);
		padding: 25px;
		color: #fff;
	}

	#contact-document h1 {
		margin: 0 0 0.05em;
		color: #fff;
		font-weight: 300;
		font-size: 2.2em;
		font-family: 'Pacifico';
	}

	#contact-document p {
		margin: 0;
		font-weight: 300;
	}

	#contact-document a {
		color: #fff;
		text-decoration: underline;
	}

	#contact-document a:hover {
		text-decoration: none;
	}

	#contact-content .button-other {
		height: 35px;
		width: 35px;
		text-align: left;
		border-radius: 3px;
		border: 0;
		color: #fff;
		font-size: 1.2em;
		box-shadow: 1px 1px 5px #888888;
	}

	#contact-content .other-linkedin {
		background: #007bb6;
	}
	#contact-content .other-facebook {
		background: #3b579d;
	}
	#contact-content .other-google {
		background: #dd4b39;
	}
	#contact-content .other-twitter {
		background: #00b0ed;
	}
	#contact-content .other-button-icon {
		padding-top: 18px;
		height: 30px;
		width: 30px;
		float:left;
		margin-left: 7px;
	}


	@include breakpoint(mobile) {
		#contact-content {
			width: 100%;
		}
	}

	@include breakpoint(mobilep) {
		#contact-content {
			border-left: none;
			border-right: none;
			padding-left: 10px;
			padding-right: 10px;
		}
	}